<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Manage Decks</title>
        <link rel="stylesheet" type="text/css" href="styles/main.css" />
    </head>
    <body>
        <div id="content">
            <a href="Deck/New">Start a new Deck</a>
            
            <h1>Decks:</h1>
            <ul>
                @foreach (var deck in @Model.Decks)
                { 
                    <li><a href="Deck/Show/@deck.Id">@deck.Name</a><a href="Deck/Edit/@deck.Id">Edit</a></li>
                }
            </ul>
        </div>
    </body>
</html>
