<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>@Model.DeckName - Slide @Model.SlideNumber</title>
        <link rel="stylesheet" type="text/css" href="styles/main.css" />
        <script src="/Scripts/jquery/jquery-1.6.2.js" type="text/javascript"></script>
        <script src="/Scripts/jquery/jquery.watermark.min.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="content">
            <div><a href="/">Home</a></div>
            <textarea Id="SlideContent" cols="80" rows="30" wrap="soft" name="SlideText">@Model.Source</textarea>
            <ul>
                <li><a href="/Deck/@Model.DeckId/Slide#@Model.SlideNumber">View Slide</a></li>
                <li><a id="SaveAndView" href="#">Save & View Slide</a></li>
            </ul>
            <ul>
                @if (Model.PreviousSlideNumber != null || Model.NextSlideNumber != null)
                {
                <li><a id="RemoveSlide" href="#">Remove Slide</a></li>
                }
                <li><a id="AddSlideBefore" href="#">Add Slide Before</a></li>
                <li><a id="AddSlideAfter" href="#">Add Slide After</a></li>
                <li><a id="SaveChanges" href="#">Save</a></li>
                <li><a id="SaveAddSlideAfter" href="#">Save & Add Slide After</a></li>
            </ul>

            <ul>
                @if (Model.PreviousSlideNumber != null)
                { 
                    <li><a id="FirstSlide" href="/Deck/@Model.DeckId/Slide/1/Edit">First</a></li>
                    <li><a id="PreviousSlide" href="/Deck/@Model.DeckId/Slide/@Model.PreviousSlideNumber/Edit">Previous</a></li>
                }
                
                @if (Model.NextSlideNumber != null)
                {
                    <li><a id="NextSlide" href="/Deck/@Model.DeckId/Slide/@Model.NextSlideNumber/Edit">Next</a></li>
                    <li><a id="LastSlide" href="/Deck/@Model.DeckId/Slide/@(Model.LastSlideNumber)/Edit">Last</a></li>
                }
            </ul>
        </div>
    </body>

    <script>
        $.ajaxSetup({ cache: false });
        $(document).ready(function () {
            $("#SlideContent").watermark("Create your slide");

            $("#RemoveSlide").click(function (e) {
                e.preventDefault();

                var allowNextSlide = @(Model.NextSlideNumber == null ? "false" : "true")
            
                $.ajax({
                    url: "/Deck/@Model.DeckId/Slide/@Model.SlideNumber/Remove/",
                    dataType: "json",
                    context: document.body,
                    type: "POST",
                    async: false,
                    success: function (data) {
                        if (data.success === false) {
                            alert(data.message);
                        } else {
                            if (allowNextSlide) {
                                window.location.reload(true);
                            } else {
                                window.location = "/Deck/@Model.DeckId/Slide/@Model.PreviousSlideNumber/Edit";
                            }
                        }
                    }
                });
            });

            $("#SaveChanges").click(function (e) {
                e.preventDefault();
                
                var contentDiv = $("<div></div>").text($("#SlideContent").val());

                $.ajax({
                    url: "/Deck/@Model.DeckId/Slide/@Model.SlideNumber/Edit/",
                    data: {
                        content: contentDiv.html()
                    },
                    dataType: "json",
                    context: document.body,
                    type: "POST",
                    async: false,
                    success: function (data) {
                        if (data.success === false) {
                            alert(data.message);
                        }
                    }
                });
            });

            $("#AddSlideBefore").click(function (e) {
                e.preventDefault();

                $.ajax({
                    url: "/Deck/@Model.DeckId/Slide/@Model.SlideNumber/Add/",
                    dataType: "json",
                    context: document.body,
                    type: "POST",
                    async: false,
                    success: function (data) {
                        if (data.success) {
                            window.location.reload(true);
                        } else if (data.success === false) {
                            alert(data.message);
                        }
                    }
                });
            });

            $("#AddSlideAfter").click(function (e) {
                e.preventDefault();

                $.ajax({
                    url: "/Deck/@Model.DeckId/Slide/@(Model.SlideNumber + 1)/Add/",
                    dataType: "json",
                    context: document.body,
                    type: "POST",
                    async: false,
                    success: function (data) {
                        if (data.success) {
                            window.location = "/Deck/@Model.DeckId/Slide/@(Model.SlideNumber + 1)/Edit/";
                        } else if (data.success === false) {
                            alert(data.message);
                        }
                    }
                });
            });

            $("#SaveAndView").click(function (e) {
                e.preventDefault();

                var stop = false;

                var contentDiv = $("<div></div>").text($("#SlideContent").val());

                $.ajax({
                    url: "/Deck/@Model.DeckId/Slide/@Model.SlideNumber/Edit/",
                    data: {
                        content: contentDiv.html()
                    },
                    dataType: "json",
                    context: document.body,
                    type: "POST",
                    async: false,
                    success: function (data) {
                        if (data.success === false) {
                            alert(data.message);
                            stop = true;
                        }
                    }
                });

                window.location = "/Deck/@Model.DeckId/Slide#@Model.SlideNumber";
            });

            $("#SaveAddSlideAfter").click(function (e) {
                e.preventDefault();

                var stop = false;

                var contentDiv = $("<div></div>").text($("#SlideContent").val());

                $.ajax({
                    url: "/Deck/@Model.DeckId/Slide/@Model.SlideNumber/Edit/",
                    data: {
                        content: contentDiv.html()
                    },
                    dataType: "json",
                    context: document.body,
                    type: "POST",
                    async: false,
                    success: function (data) {
                        if (data.success === false) {
                            alert(data.message);
                            stop = true;
                        }
                    }
                });

                if (!stop) {
                    $.ajax({
                        url: "/Deck/@Model.DeckId/Slide/@(Model.SlideNumber + 1)/Add/",
                        dataType: "json",
                        context: document.body,
                        type: "POST",
                        async: false,
                        success: function (data) {
                            if (data.success) {
                                window.location = "/Deck/@Model.DeckId/Slide/@(Model.SlideNumber + 1)/Edit/";
                            } else if (data.success === false) {
                                alert(data.message);
                            }
                        }
                    });
                }
            });
        });
    </script>
</html>
