<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>@Model.DeckName</title>
        <link rel="stylesheet" type="text/css" href="/styles/resolution-independence/res-ind.css" />
        <link rel="stylesheet" type="text/css" href="/styles/SyntaxHighlighter/shCore.css" />
        <link rel="stylesheet" type="text/css" href="/styles/SyntaxHighlighter/shThemeFadeToGrey.css" />
        <link rel="stylesheet" type="text/css" href="/styles/show.css" />
        <script src="/Scripts/jquery/jquery-1.6.2.js" type="text/javascript"></script>
        <script src="/Scripts/resolution-independence/res-ind.js" type="text/javascript"></script>
        <script src="/Scripts/SyntaxHighlighter/xregexp/xregexp-min.js" type="text/javascript" ></script>
        <script src="/Scripts/SyntaxHighlighter/shCore.js" type="text/javascript"></script>
        <script src="/Scripts/SyntaxHighlighter/shAutoloader.js" type="text/javascript"></script>
        <script src="/Scripts/SyntaxHighlighter/shLegacy.js" type="text/javascript"></script>
        <script src="/Scripts/SyntaxHighlighter/shBrushCSharp.js" type="text/javascript" ></script>
    </head>
    <body>
        <div id="page-width"></div>
        <div id="header">
            <!--<h1 id="title">
                <a href="http://windyroad.org/">Resolution Independent Web Design Demonstration</a>
            </h1>-->
        </div>
        <p id="debug"></p>
        <div id="content">
            <div id="main-wrapper">
                <div id="slide">
                    @Model.Content
                </div>
            </div>
        </div>
        <div id="footer">
            <!--<div>
                <a rel="license" href="http://creativecommons.org/licenses/by/2.5/au/"><img id="cc" alt="Creative Commons License" src="resources/scaleimage.php?image=cc-lic.png&amp;width=80" /></a> : 
                <a href="http://windyroad.org">Resolution Independent Web Design Demonstration</a> 
                by
                <a href="http://windyroad.org"><img id="logo" src="resources/scaleimage.php?image=windyroadx4.png&amp;width=100" alt="Windy Road" /></a>
            </div>-->
        </div>
    </body>
    <script>
        $(document).ready(function () {
            $("code").addClass("brush: csharp");

            SyntaxHighlighter.defaults.toolbar = false;
            SyntaxHighlighter.defaults.gutter = false;
            SyntaxHighlighter.config.tagName = "code";
            SyntaxHighlighter.all();
        });

        $(document).click(function (e) {
            var allowNextSlide = @(Model.NextSlideNumber == null ? "false" : "true")
            
            if (allowNextSlide && e.button == 0)
            {
                window.location = "/Deck/@Model.DeckId/Slide/@Model.NextSlideNumber";
            }

            var allowPreviousSlide = @(Model.PreviousSlideNumber == null ? "false" : "true")

            if (e.button == 1)
            {
                e.preventDefault();

                if (allowPreviousSlide)
                {
                    window.location = "/Deck/@Model.DeckId/Slide/@Model.PreviousSlideNumber";    
                }
            } 
            
        });
    </script>
</html>
